
body {
  //padding: 25px;
  background-image: url("../images/fd.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #5BC0BE;
  position: fixed;
  top: 0;
  width:100%;
}
.align-column{
    margin-top: 45px;
}
.footer p {
    margin: 0;
    margin-top: 0rem;
margin-bottom: 0rem;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    color: #16697A;
}

.jumbotron {
   padding-top: 0.5rem;
padding-right: 1.0rem;
padding-bottom: 0.5rem;
padding-left: 1.0rem;
margin-bottom: 0.5rem;
background-color: #FCF5EE;
border-radius: 0.8rem;
}
.jumbotron a {
   padding-top: 0px;
padding-right: 0px; 
padding-bottom: 0px;
padding-left: 0px;
}
.jumbotron p {
   color:#16697A;
}
/*.fixednavbar {
  overflow: hidden;
  position: fixed;
  top: 30;
  width:100%;
}*/
.navbar a {
  float: right;
  display: inline;
  color: #f2f2f2;
  text-align: right;
  padding: 3px 3px;
}
/*.fixednavbar a {
  float: inline-end;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 3px;
  text-decoration: none;
}*/
.designtype{
 padding-top: 70px;
 margin-top: 10px;
}

.main {
  padding: 38px;
  margin-top: 64px;
 /* Used in this example to enable scrolling */
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.text-light {
    color: #f8f9fa !important;
}
.bg-dark {
    background-color: #5BC0BE !important;
}
.pb-3, .py-3 {
    padding-bottom: 0.5rem !important;
}
.pt-3, .py-3 {
    padding-top: 0.5rem !important;
}
.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 0.5px;
    padding-left: 0.5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.positiontext{
position: inherit;
background-color: #FCF5EE;
font-size: inherit;
}

.animate-bottom {
    position: inherit;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}


